/* *{
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 auto;
} */
.upper{
    display: flex;
    position: relative;
    border: 1px rgb(255, 255, 255) solid;
    width: 218vh;
   
}
.lower{
    position: relative;
    display: flex;
    width: 218vh;
    border: 1px rgb(255, 255, 255) solid;
}
.video{
    margin-top: 100px;
    margin-left: 60px;
}
.video2{
    margin-top: 30px;
    margin-left: 200px;
}
.about{
    margin-top: 30px;
    width: 600px;
    padding: 30px;
    margin-left: 300px;
    
}
.btn{
    background-color: red;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 6px 9px 1px;
}
.para2{
    width: 700px;
    margin-top: 10px;
   
}
.li{
   color: rgb(4, 255, 0);
    font-style: italic;
}
.main{
height: 100vh;
width: 218vh;
background-color:black;
position: relative;

}
@media screen  and (max-width:460px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .upper{
  
        height: 700px;
        flex-wrap: wrap;
        border: 1px red solid;
        width:415px ;
        margin-left: 0;
        align-items: center;
       
    }
    .lower{
      
        height: 700px;
        flex-wrap: wrap;
        border: 1px red solid;
        width:415px ;
        margin-left: 0;
        align-items: center;
        border: 1px green solid;
    }
    .video{
        margin-top: 100px;
        position: relative;
        height: 200px;
        width: 250px;
        border: 1px red solid;
        margin-left: 85px;
    }
    .video2{
        position: relative;
        height: 200px;
        width: 250px;
        border: 1px red solid;
        margin-left: 30px;
        margin-top: 0;
    
    }
    .about{
        margin-top: 0;
        border: 1px red solid;
        width: 415px;
        height: 400px;
        padding: 30px;
        margin-left: 0;
        flex-wrap: wrap;
    }
    .btn{
        background-color: red;
        color: rgb(1, 1, 1);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 3px 6px 9px 1px;
    }
    .para2{
        margin-top: 0;
        border: 1px red solid;
        width: 415px;
        height: 400px;
        padding: 30px;
        margin-left: 20px;
        flex-wrap: wrap;
       
    }
    .li{
       color: rgb(4, 255, 0);
        font-style: italic;
    }
    .main{
    height: 270vh;
    width: 415px;
    background-color:rgb(52, 60, 60);
    flex-wrap: wrap;
    position: relative;
   
    }
   
}